<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chemkin Webapp</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <h1> Chemkin Webapp </h1>
</header>
<div class="container-fluid">
    <p><br>Welcome to Jiacheng Shi, Weihang Zhang, and Andrew Lund's chemical kinetics webapp for Harvard University's
        Fall 2017 - CS207 final project. Please follow the directions below or use the examples found on our project
        <a href="https://github.com/cs207team3/cs207-FinalProject">GitHub Repository</a>.</p>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col col-mid-12">
            <h3>Inputs</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6" style="border-right: 1px solid #ccc;">
            <p>Choose your input .xml reactions file below. Please ensure it conforms to the format of the example found
                <a
                        href="https://github.com/cs207team3/cs207-FinalProject/blob/master/tests/rxns_reversible.xml">here</a>.
            </p>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit" class="button">
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="col col-md-6">

            <form method="POST">
                <label>Temperature:</label><input name="temp" placeholder=" example - 500"/><br>
                {% if data %}
                <p>
                    You must input {{ data['species']|length }} concentrations in the same order as the system species:
                    <br>{{ data['species'] }}.</p>
                {% endif %}
                <label>Concentrations:</label><input name="concs" placeholder=" example - 0.5, 1, 2.0"/><br>
                <input type="submit" class="button" value="Calculate"/>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-md-6" style="border-right: 1px solid #ccc;">
            <h3>Reaction System</h3>
            <p><b>System Species:</b></p>
            {% if data %}
            <p> {{ data['species'] }} </p>
            {% endif %}
            <table class="table table-striped table-condensed">
                <thead>
                <th>System Reaction Equations:</th>
                </thead>
                <tbody>
                {% if data %}
                {% for eq in data['equations'] %}
                <tr><td>{{ eq }}</td></tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col col-md-6">
            <h3>Reaction Rates</h3>
            <table class="table table-striped table-condensed">
                <thead>
                <th>Species:</th>
                <th>Reaction Rate:</th>
                </thead>
                <tbody>
                {% if species_dic %}
                {% for k, v in species_dic.items() %}
                <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
    <hr>
</div>
<footer><p>For documentation relating to the calculations performed in this webapp, please visit our project <a
        href="https://github.com/cs207team3/cs207-FinalProject">GitHub Repository</a>.</p></footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>