header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}


.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label{
  display:inline-block;
  width:120px;
}
